{
  "printWidth": 100,
  "singleQuote": false,
  "trailingComma": "es5",
  "plugins": ["prettier-plugin-blade"],
  "overrides": [
    {
      "files": ["*.blade.php"],
      "options": { "parser": "blade" }
    }
  ]
}
